@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
html,
body {
  @apply m-0 p-0 h-full w-full overflow-x-scroll overflow-y-scroll hide-scrollbar;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.bannerIcon {
    display: inline-flex;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: .375rem;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    --tw-bg-opacity: .25;
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
    --tw-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    --tw-shadow-colored: 10px 10px 19px var(--tw-shadow-color), -10px -10px 19px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
}

@media (min-width: 500px) {
  .min-500-grid {
    @apply grid-cols-5;
  }
}

@media (min-width: 300px) and (max-width:500px){
  .min-300-grid {
    @apply grid-cols-3;
  }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animated-text span {
    display: inline-block;
    opacity: 0; /* Start hidden */
    animation: fadeIn 0.5s forwards;
  }
  
  .animated-text span:nth-child(1) { animation-delay: 0s; }
  .animated-text span:nth-child(2) { animation-delay: 0.1s; }
  .animated-text span:nth-child(3) { animation-delay: 0.2s; }
  /* Add more nth-child rules as needed */
  